@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Estas são as suas cores personalizadas convertidas para o formato HSL 
       que a shadcn/ui utiliza. Você só precisa mexer aqui para mudar o tema. */
    --background: 220 13% 96%; /* #F0F2F5 - Cinza claro do fundo */
    --foreground: 0 0% 15%;   /* #252525 - Cor de texto principal */
    
    --card: 0 0% 100%;
    --card-foreground: 0 0% 15%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 15%;
 
    --primary: 217 97% 46%; /* #0266e8 - Seu Azul Primário */
    --primary-foreground: 0 0% 100%; /* #ffffff - Branco para textos sobre o azul */
 
    --secondary: 46 100% 47%; /* #efb700 - Seu Amarelo Secundário */
    --secondary-foreground: 0 0% 15%; /* Cor de texto para o amarelo */
 
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 45%;
 
    --accent: 220 13% 91%;
    --accent-foreground: 220 9% 25%;
 
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 88%; /* #e0e0e0 - Sua cor de borda */
    --input: 0 0% 88%;
    --ring: 217 97% 46%; /* A cor do anel de foco, usando seu azul primário */
 
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: hsl(var(--foreground)) !important;
}